@import "compass";
@import "partials/variables.scss";
@import "partials/mixins";
@import "partials/base.scss";
@import "compass/css3";

.action-container {
    width: 100%;
}

.app-title {
    text-align: center;
}

.black-circle {
    display: none;
    float: right;
    height: 25px;
    width: 25px;
    border-radius: 100%;
    background-color: $calc-black;
    color: white;
    text-align: center;
}

.btn-text {
    padding-top: 12px;
}

.calculate-btn {
    display: block;
    margin: 30px auto 0 auto;
    height: 45px;
    width: 240px;
    color: white;
    background-color: $calc-black;
    text-align: center;
    &:hover{
        cursor: pointer;
    }
}

.coin {
    display: inline-block;
    margin-left: 40px;
    margin-top: 40px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    color: $coin-text;
    background-color: $coin-color;
    text-align: center;
}

.coin-value {
    display: block;
    margin-top: 42px;
    &:hover{
        cursor: pointer;
    }
}

.edit-value {
    display: none;
    margin-left:auto !important;
    margin-right: auto !important;
    width: 20px;
}

.number-input {
    display: block;
    margin: 50px auto 0 auto;
    padding-right: 20px;
    height: 45px;
    width: 240px;
    box-sizing: border-box;
    border: 2px solid $coin-color;
    text-align: right;
}

@media screen and (min-width: 568px){
    .app-title {
        padding-top: 45px;
    }

    .calculator {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -300px;
        margin-left: -163px;
        max-width: 320px;
        height: 600px;
        width: 100%;
        border: 1px solid $border;
        -webkit-box-shadow: 1px 1px 0px 1px rgba(224,224,224,1);
        -moz-box-shadow: 1px 1px 0px 1px rgba(224,224,224,1);
        box-shadow: 1px 1px 0px 1px rgba(224,224,224,1);
    }
}

@media screen and (min-width: 568px) and (max-width: 736px) and (orientation: landscape){
    .calculator{
        top: 0 !important;
        margin-top: 20px !important;
        margin-bottom: 20px !important;
    }

}
