body {
    margin: 0 !important;

    font-size: 16px;
    font-family: arial;
    @include default-text-color($calc-black);
}

h1 {
    margin: 0;
    font-size: 1em;
    font-weight: 600;
}

.coins-required {
    font-size: 0.75em;
}
