/* line 1, ../sass/partials/_base.scss */
body {
  margin: 0 !important;
  font-size: 16px;
  font-family: arial;
  color: #222222;
}

/* line 9, ../sass/partials/_base.scss */
h1 {
  margin: 0;
  font-size: 1em;
  font-weight: 600;
}

/* line 15, ../sass/partials/_base.scss */
.coins-required {
  font-size: 0.75em;
}

/* line 7, ../sass/styles.scss */
.action-container {
  width: 100%;
}

/* line 11, ../sass/styles.scss */
.app-title {
  text-align: center;
}

/* line 15, ../sass/styles.scss */
.black-circle {
  display: none;
  float: right;
  height: 25px;
  width: 25px;
  border-radius: 100%;
  background-color: #222222;
  color: white;
  text-align: center;
}

/* line 26, ../sass/styles.scss */
.btn-text {
  padding-top: 12px;
}

/* line 30, ../sass/styles.scss */
.calculate-btn {
  display: block;
  margin: 30px auto 0 auto;
  height: 45px;
  width: 240px;
  color: white;
  background-color: #222222;
  text-align: center;
}
/* line 38, ../sass/styles.scss */
.calculate-btn:hover {
  cursor: pointer;
}

/* line 43, ../sass/styles.scss */
.coin {
  display: inline-block;
  margin-left: 40px;
  margin-top: 40px;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  color: #898989;
  background-color: #d8d8d8;
  text-align: center;
}

/* line 55, ../sass/styles.scss */
.coin-value {
  display: block;
  margin-top: 42px;
}
/* line 58, ../sass/styles.scss */
.coin-value:hover {
  cursor: pointer;
}

/* line 63, ../sass/styles.scss */
.edit-value {
  display: none;
  margin-left: auto !important;
  margin-right: auto !important;
  width: 20px;
}

/* line 70, ../sass/styles.scss */
.number-input {
  display: block;
  margin: 50px auto 0 auto;
  padding-right: 20px;
  height: 45px;
  width: 240px;
  box-sizing: border-box;
  border: 2px solid #d8d8d8;
  text-align: right;
}

@media screen and (min-width: 568px) {
  /* line 82, ../sass/styles.scss */
  .app-title {
    padding-top: 45px;
  }

  /* line 86, ../sass/styles.scss */
  .calculator {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -163px;
    max-width: 320px;
    height: 600px;
    width: 100%;
    border: 1px solid #f0f0f0;
    -webkit-box-shadow: 1px 1px 0px 1px #e0e0e0;
    -moz-box-shadow: 1px 1px 0px 1px #e0e0e0;
    box-shadow: 1px 1px 0px 1px #e0e0e0;
  }
}
@media screen and (min-width: 568px) and (max-width: 736px) and (orientation: landscape) {
  /* line 103, ../sass/styles.scss */
  .calculator {
    top: 0 !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }
}
